@import "../../scss-base/colors";

p, h4 {
  margin: 0;
  padding: 0;
}

.item {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px gray;
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;

  &:hover {
    background-color: $wiki-color-sand;
  }
}

.extract {
  display: flex;
  flex-direction: row;
  align-items: center;
}
