.container {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 60rem;
  padding: 1rem;
}

.image {
  max-width: 500px;
  width: 100vw;
}

.image-container {
  align-items: center;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.image-caption {
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 1rem;
}

.attribution {
  font-style: italic;
  font-size: 0.9rem;
  padding: 1rem;
}

.link-div {
  margin-top: 1rem;
}
